language: cpp

compiler:
  - clang
  - gcc

sudo: false

os:
  - linux
#  - osx

arch:
  - amd64
  - ppc64le

before_install:
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then
        brew --version;
        HOMEBREW_NO_ENV_FILTERING=1 brew update;
    fi

install:
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then
      brew install gettext;
      brew link gettext --force;
    fi
# Don't use real gcc on OS X, problems arise when
# Hunspell built with gcc is linked with cppunit built with clang.
# Homebrew builds are build with clang
before_script:
  - if [ "$CXX" = "g++" ] && [ "$TRAVIS_OS_NAME" = "linux" ]; then
      export CXX="g++-5" CC="gcc-5";
    fi

script:
  - autoreconf -i && ./configure && make && make check
#  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then autoreconf -i -I /usr/local/share/aclocal && ./configure && make && make check; fi
# might be needed for future

after_failure:
  - cat tests/test-suite.log

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - autoconf
    - automake
    - autopoint
    - gcc-5
    - g++-5
