environment:
  matrix:
  - MSYSTEM: MINGW64
    BASH_PATH: C:\msys64\usr\bin\bash
#  - BASH_PATH: c:\cygwin\bin\bash

install:
- cmd: '%BASH_PATH% -lc "pacman --noconfirm -S mingw-w64-x86_64-cppunit mingw-w64-x86_64-boost"'

build_script:
- cmd: '%BASH_PATH% -lc "cd $APPVEYOR_BUILD_FOLDER; autoreconf -i && ./configure && make && make check"'
