# http://cppcheck.sourceforge.net
/cppcheck*.txt
/cppcheck*.xml

# https://bitbucket.org/verateam/vera
/vera++.txt
/vera++.xml

# https://github.com/AlDanial/cloc
/cloc.txt
/cloc.xml

# https://www.gnu.org/software/trueprint
/*.ps
